*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

h1 {
  font-family: 'Gaegu', cursive;
  margin: 20px 0;
  font-size: 60px; 
  text-align: center;/*=======  Font size'ı 60px yapın ve text'i ortalayın(center) */
  
}

h2, h3, h4, h5, h6 {
  font-family: 'Gaegu', cursive;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 30px;/*=======  Font size'ı 30px yapın*/

}

p{
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}


img {
  border-radius: 10px;
  width: 250px;
  height: 100%;
  align-self: center;
  justify-content: center;
}
#banner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: azure;
}


#banner img{
  width: 642px;
  height: 156px;
}

.navbar{
  display: flex;
  justify-content: center;
}

.navbar a{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  color: beige;
  background-color: #E79947;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#about{
  margin: 0px 347px;
}

#menu{
  display: flex;
  flex-direction: column;
  margin: 0px 347px;

}

.content-row{
  margin: 13px;
  display: flex;
  align-items: center;
}

.content-row div{
  margin: 20px;
}

#menu h2{
  font-size: medium;
}
.contact-section {
  display: flex;
  border-top: 1px dashed black;
  padding: 20px 0;
  margin: 10px;
  margin: 0px 347px;
  flex-direction: column;

}

.contact-section ul li{
  text-decoration: none;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

footer {
  display: flex;
  width: 100%;
  background: #E79947;
  border-top: 1px dashed white;
  
}


footer div h3{
 margin:  2px -120px;;
}



footer nav {
  display: flex;
  margin: 16px -120px;
  
}

footer .footer-content { 
  margin: 0 auto; 
  width: 605px;/*======= width property yaratın. Değerini 605px olarak atayın */
  
}


  

footer nav a:first-child {
  margin-left: 0;
}


.footer-content .copyright {
  padding: 20px 20px;
  margin: 0px 178px;
   justify-content: center;/*======= metni ortalayacak kodu yazın */
}


.footer-content nav a{
 margin: 22px;
 color: black;
 font-size: 20px;
}
